.section-about
  .about-content
    max-width: 390px
    width: 100%
    margin: 0 auto
  .columns__item--about-img
    position: relative
    margin-top: 100px
    &::after
      content: ""
      position: absolute
      border: 2px solid #CBA135
      border-radius: 50%
      width: 489px
      height: 100%
      top: -80px
      left: 0
      z-index: -1
      @media screen and ( max-width:  750px)
          width: 100%
          height: 100%
  &-teaser
    .img--wide
      margin-top: 150px
      @media screen and ( max-width:  750px)
          margin-top: 0